body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
header {
    font-family: arial;
    background: linear-gradient(to right, white, black);
    background-clip: text;
    color: transparent;
}
main {
    max-width: 60vw;
    max-height: 80vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0px #ccc;
    border: 1px solid gray;
}
main:hover {
    background: rgba(225,225,225,0.3);
    box-shadow: inset 0px 0px 15px 1px #ccc;
}
